@model List<Person>
@{
    ViewData["Title"] = "Home Page";
}
@{ Layout = null;}


<div>
    <a asp-action="CreatePerson">Yeni Kisi Ekle</a>
</div>
<div>
    <h2>Contact List</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>TELEFON</th>
            <th>DELETE </th>
        </tr>
        @{
            foreach (Person kisi in Model)
            {
                <tr>
                    <td>@kisi.Id</td>
                    <td>@kisi.Name</td>
                    <td>@kisi.Surname</td>
                    <td>@kisi.Phone</td>
                    <td>
                        <a onclick="return eminMisiniz(@kisi.Id)" asp-route-id="@kisi.Id" asp-action="Delete">Sil</a>
                        <a asp-route-id="@kisi.Id" asp-action="CreatePerson">Düzenle</a>
                    </td>
                </tr>

                @*<tr>
                    <td>Emine Kosak</td>
                    <td>Guillaume Manthe</td>
                    <td>French</td>
                </tr>*@

            }
        }


    </table>


    <script>
        function eminMisiniz(id) {
            //alert(id+"nolu kaydı silmek istediğinizden emin misiniz?");
            var dialogResult = confirm(id + "nolu kaydı silmek istediğinizden emin misiniz?");
            console.log(dialogResult);
            return dialogResult;
        }
    </script>


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        a,tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</div>